Makefile
Makefile.in
!setup/examples/Makefile.in
aclocal.m4
autom4te.cache
build_aux
config.h
config.h.in
config.log
config.status
config.rpath
configure
depcomp
libtool
stamp-h1
.dirstamp
*.o
*.lo
*.a
*.la
*.deps
*.libs
*~
*.swp
examples/ex_init_c
examples/ex_init_class
examples/ex_init_runtime
examples/ex_init_command_line
examples/ex_init_extra_fonts
src/setup
